* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "BYekan+", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

#root {
  min-height: 100vh;
}
